@import url("http://fonts.cdnfonts.com/css/aniron");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  /* RESET PARA REMS */
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
}

/** HEADER HOME**/

h1 {
  font-family: "Aniron";
  font-style: normal;
  font-weight: 400;
  color: white;
  text-align: center;
}

img {
  max-width: 100%;
}

/** HOME **/

.header__home__contenedor {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/home-banner.png);
  position: relative;
  background-size: cover;
}



/** NAVEGADOR **/

.navegador li {
  display: flex;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  margin-right: 2.4rem;
}

.navegador a {
  color: #ffffff;
  text-decoration: none;
}

.navegador a:hover {
  color: #13a8a8;
}

.overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/** FOOTER HOME **/

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  width: 16.63%;
  height: 16.66vw;
  display: inline-block;
  background-color: #163d34;
  border: 1px solid rgb(171, 252, 205);
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__info a {
  color: #ffffff;
}

.lightgreen {
  background-color: #00473d;
}

.footer__legal {
  width: 100vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.9rem;
  background-color: black;
  overflow: hidden;
}
.footer_legal--chico {
  width: 100vw;
  height: 4rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: rgb(1, 73, 73);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

/** CERVEZAS BODY GRID**/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin: 0;
}

/** LOGO HEADER **/

.logo-pages {
  display: grid;
  grid-column: 1 / 13;
  grid-row: 1 / 3;
  background-color:#061736;
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
  background: linear-gradient(-45deg, #ee7752, #861e46, #188db8, #013126);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  
}

.logo-pages img{
  width: 35%;
  height: 70%;
  margin-left: 20px;
  margin-top: 35px;
  filter: drop-shadow(0 0 0.75rem rgb(88, 246, 251));
  
}




/** PAGES HEADER **/

.pages_header {
  display: grid;
  grid-column: 6 / 13;
  grid-row: 2 / 3;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  text-align: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
  box-shadow: 0px 0px 5px #fff;
  
}


/** PAGES NAV **/
  .navegador__paginas li {
    display: flex;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 1rem;
    margin-left: 3rem;
    
  }
  
  .navegador__paginas a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .navegador__paginas a:hover {
    color: #13a8a8;
  }


  .blue-background{
    background-color: #061736;
    padding: 5px;
    align-self: flex-end;
  }
 


/** PAGES TITLE **/
.pages-title{
  grid-row: 3 / 3;
  grid-column: 1 / 13;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: xx-large;
  letter-spacing: 0.03em;
  line-height: 1.6;
  margin-top: 2rem;
}

/** CERVEZA SECTION **/

.cervezas-display {
  grid-row: 4 / 12;
  grid-column: 1 / 13;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  align-content:flex-start;
  

}


.beer-card {
  width: 230px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  font-family: 'Open Sans', sans-serif;

}

.beer-card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.beer-card img{
  width: 230px;
  height: 230px;
}

.beer-card h4{
  font-weight: 600;
}

.beer-card p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.beer-card a {
  font-weight: 500;
  text-decoration: none;
  color: green;
}

.footer-pages {
  grid-row: 12 / 13;
  grid-column: 1 / 13;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #061736;
  
  
}

.footer-pages > div {
  background-color: #061736;
  width: 100%;
  
}

.footer-pages > div > p {
  background-color: #5d687e;
  width: 100%;
  
}

/** KEYFRAMES **/

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/** PRUEBAS ANIMACIONES Y TRANSICIONES PARA REPO GITHUB **/

.grid-gradient-greenwhite{
  background: linear-gradient(-45deg, #f8f7f6, #f4cbda, #74d4f6, #078e6e);
  background-size: 400% 400%;
}

.grid-gradient-anom {
  background: linear-gradient(-45deg, #f8f7f6, #f4cbda, #010e13, #078e6e);
  background-size: 400% 400%;

}

.grid-gradient-anome {
  background: linear-gradient(-45deg, #e27509, #eca604, #ed9a0b, #ff4800);
  background-size: 400% 400%;

}

.grid-gradient-anomen {
  background: linear-gradient(-45deg, #3f006f, #0a7084, #0beded, #dcf8ff);
  background-size: 400% 400%;
  color: black;

}

.grid-gradient-anomene {
  background: linear-gradient(-45deg, #6f1c00,  #e98080);
  background-size: 400% 400%;

}