@import url("http://fonts.cdnfonts.com/css/aniron");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* RESET PARA REMS */
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: #dcdcdc;
}

/** HEADER HOME**/

h1 {
  font-family: "Aniron";
  font-style: normal;
  font-weight: 400;
  color: white;
  text-align: center;
}

img {
  max-width: 100%;
}

/** HOME **/

.header__home__contenedor {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/home-banner.png) no-repeat;
  position: relative;
  background-size: cover;
}



/** NAVEGADOR **/

.navegador{
  display: flex;
}

.navegador li {
  display: flex;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  margin-right: 2.4rem;
}

.navegador a {
  color: #ffffff;
  text-decoration: none;
}

.navegador a:hover {
  color: #13a8a8;
}

.overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/** FOOTER HOME **/

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  width: 16.63%;
  height: 16.66vw;
  display: inline-block;
  background-color: #163d34;
  border: 1px solid rgb(171, 252, 205);
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__info a {
  color: #ffffff;
}

.lightgreen {
  background-color: #00473d;
}

.footer__legal {
  width: 100vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.9rem;
  background-color: black;
  overflow: hidden;
}
.footer_legal--chico {
  width: 100vw;
  height: 4rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: rgb(1, 73, 73);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

/** CERVEZAS BODY GRID**/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin: 0;
}

/** BODY COINTAINER **/
.body-reset {
  padding: 0;
  margin: 0;
}

/** LOGO HEADER **/

.logo-pages {
  display: flex;
  
  background-color:#061736;
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
  background: linear-gradient(-45deg, #ee7752, #861e46, #188db8, #013126);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  
}

.logo-pages img{
  width: 45%;
  height: 70%;
  margin-left: 20px;
  margin-top: 20px;
  filter: drop-shadow(0 0 0.75rem rgb(88, 246, 251));
  
}




/** PAGES HEADER **/

.pages_header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
  box-shadow: 0px 0px 5px #fff;
  align-items: center;
  
  
}


/** PAGES NAV **/

.social-media{
  display: flex;
  justify-content: flex-start;
  margin-right: 60px;
  margin-left: 40px;
}

.social-media-items i{
  margin-right: 10px;
  color: white;
  width: 30px;
  
  
}
.navegador__paginas{
  display: flex;
  justify-content: flex-end;
}
.navegador__paginas ul {
  width: auto;
  padding: 0;
  margin: 0;
}
  .navegador__paginas li {
    display: flex;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 1rem;
    margin-right: 5rem;
    
   
    
  }
  
  .navegador__paginas a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .navegador__paginas a:hover {
    color: #13a8a8;
  }


 


/** PAGES TITLE **/
.pages-title{
  
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: xx-large;
  letter-spacing: 0.03em;
  line-height: 1.6;
  margin-top: 2rem;
}

/** CERVEZA SECTION **/

.cervezas-display {
  grid-row: 4 / 12;
  grid-column: 1 / 13;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  align-content:flex-start;
  

}


.beer-card {
  width: 230px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  font-family: 'Open Sans', sans-serif;

}

.beer-card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.beer-card img{
  width: 230px;
  height: 230px;
}

.beer-card h4{
  font-weight: 600;
}

.beer-card p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.beer-card a {
  font-weight: 500;
  text-decoration: none;
  color: green;
}

/** TIENDA **/

.containerCombo{
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.containerCombo .cardCombo {
  width: 100%;
  background: #fff;
}

.containerCombo .cardCombo .imgBx {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.containerCombo .cardCombo .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  transform-origin: right;
}

.containerCombo .cardCombo:hover .imgBx img{
  transform: scale(1.5);
}

.action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.action li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgb(206, 246, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.5s;
  transform: translateX(60px);
}

.action li:nth-child(2){
  transition-delay: 0.15s;
}

.action li:nth-child(3){
  transition-delay: 0.3s;
}

.containerCombo .cardCombo:hover .action li {
  transform: translateX(0px);
}

.action li:hover {
  background-color: #fba2a2;
  color: #fff;
}

.action li span {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) translateX(-20px);
  white-space: nowrap;
  padding: 4px 60px;
  background: #1cc61f;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transform: 0.5s;
}

.action li:hover span {
  opacity: 1;
  transform: translateY(-50%) translateX(0px);
}

.action li span::before{
  content: '';
  position: absolute;
  top: 50%;
  right: -4px;
  width: 8px;
  height: 8px;
  background: #1cc61f;
  transform: translateY(-50%) rotate(45deg);
}

.containerCombo .cardCombo .content{
  padding: 10px;
}

.containerCombo .cardCombo .content .productName h3{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
}

.containerCombo .cardCombo .content .price_rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerCombo .cardCombo .content .price_rating h2 {
  font-size: 20px;
  color: red;
  font-weight: 500;
}

.containerCombo .cardCombo .content .price_rating .fa {
  color: #ffd513;
  cursor: pointer;
}

.containerCombo .cardCombo .content .price_rating .fa.grey {
  color: #ccc;
}


/** CONTACTO **/
.mainContact{
  min-height: 100vh;
  background: url(/img/contact-background.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
}

.contact-info span{
  font-family: "Raleway", sans-serif;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info .contact-form{
  flex: 1;
}

.contact-form h2{
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background-color: #000;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px; 
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background: #2e94e3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover{
  background: #0582e3;
}


/** KEYFRAMES **/

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}




  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header__home__contenedor{
    background-image: url(../img/home-banner-small.jpg);
    background-size: cover;
  }
}

@media only screen and (min-width: 600px) {
  
    .header__home__contenedor{
      background-image: url(../img/home-banner-small.jpg);
      background-size: cover;
    }
  
}

@media only screen and (max-width: 600px) {
  
  .header__home__contenedor{
    background-image: url(../img/home-banner-small.jpg);
    background-size: cover;
  }

}


@media only screen and (min-width: 768px) {
  .header__home__contenedor{
    background-image: url(../img/home-banner-md.jpg);
    background-size: cover;
    }
    
  }


@media only screen and (min-width: 992px) {
  .header__home__contenedor{
    background-image: url(../img/home-banner.png);
    background-size: cover;
}
}

@media only screen and (min-width: 1200px) {
  .header__home__contenedor{
    background-image: url(../img/home-banner.png);
    background-size: cover;
}
}

/** MEDIA CONACT **/

@media screen and (max-width: 950px){
  .contact-section{
    flex-direction: column;
  }

  .contact-info, .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 30px;
  }

 .contact-form .text-box{
   width: 100%;
 }
}